:root{
    --borderRadius: 1rem;
    --orange100: #FFEDD5;
    --orange200: #fed7aa;
    --orange400: #fb923c;
}

.chooseIns{
    margin: 20px 0 0 20px;
    text-align: center;
}

#bass, #guitar{
    display: none;
}

#chooseBass ,#chooseGuitar{
    background-color: var(--orange200);
    padding: 5px 10px 5px 10px;
    font-size: 1.1rem;
    position: relative;
}

#chooseBass:hover ,#chooseGuitar:hover{
    background-color: var(--orange100);
}

#chooseBass{
    border-top-left-radius: var(--borderRadius);
    border-bottom-left-radius: var(--borderRadius);
}
#chooseGuitar{
    border-top-right-radius: var(--borderRadius);
    border-bottom-right-radius: var(--borderRadius);
}
#bass:checked + label, #guitar:checked + label{
    padding: 5px 40px 5px 10px;
}
#bass:checked + label::after{
    content: url('../../../assets/icons/guitar-bass-head.svg');
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 0 -2px 10px;
    position:absolute;
    right: 10px;
    top: 7px;
}
#guitar:checked + label::after{
    content: url('../../../assets/icons/guitar-head.svg');
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 0 -2px 10px;
    position:absolute;
    right: 10px;
    top: 7px;
}

#bass:checked + label, #guitar:checked + label {
    background-color: var(--orange400)
}