.bass-tab{
    border: 2px solid transparent;
    transition: all .1s ease;
}

.selected:hover{
    /* background-color: blueviolet; */
    border: 2px solid red;
}

.editing{
    background-color: red;
}