.bass-tab{
    border: 2px solid transparent;
    transition: all .1s ease;
}

.selected:hover{
    background-color: rgba(137, 43, 226, 0.164);
    border: 2px solid red;
}

.editing{
    background-color: red;
}