.bass-tab{
    border: 2px solid transparent;
    transition: all .1s ease;
}

.selected{
    border: 2px solid red;
}

.selected:hover{
    border: 2px solid #444;
}

.editing{
    background-color: #fff;
}